.normal{
    background-color: black;
    color: white;
}

.kakao{
    background-color: #f7e111;
    color: black;
}

.apple{
    background-color: white;
    color: black;
    /* 두께 스타일 색깔 */
    border: 1px solid #dbdbdb;
}

.button{
    text-align: center;
    font-weight: 800;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

.coupon{
    background-color: white;
    color: #0078ff;
    text-align: center;
    width: 400px;
    padding-top: 30px;
}
.regi{
    background-color: white;
    color:#0078ff;
    text-align: center;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:8px;
    padding-right:8px;
    border: 1px solid #0078ff;
    border-radius: 4px;
}