main {
  max-width: 1200px;
  width: 100vw;
  margin: 0 auto;
  border: 1px solid red;
}
.container {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: max-content;
}

.box {
  /* width: 800px;
  height: 800px;
  background-color: pink; */
  width: 100px;
  height: 100px;
}

.menu {
  display: flex;
  gap: 25px;
}

.bar {
  display: none;
}
/* 모바일 버전 or 테블릿 버전 관련된 CSS */
/* 768px 이하는 아래와 같은 CSS로 해주세요 */
@media screen and (max-width: 1024px) {
  /* .box {
    background-color: skyblue;
    width: 400px;
    height: 400px;
  } */
  .container {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    /* width: max-content; */
  }

  .menu {
    display: none;
  }
  .bar {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .main {
    max-width: 360px;
    border: 1px solid red;
  }
  .container {
    /* display: flex; */
    /* flex-direction: column; */

    grid-template-columns: repeat(1, 1fr);
  }
  /* 
  .menu {
    display: none;
  }

  .bar {
    display: block; */
  /* } */
}
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
