.box {
  /* viewport width */
  /* 개인이 사용하는 브라우저의 넓이의 퍼센트 */
  width: 50vw; /*width는 vw*/
  /*개인이 사용하는 브라우저의 높이 퍼센트*/
  height: 50vh; /*height는 vh*/
  background-color: skyblue;
  /* 모든 [all] 변화가 0.5s 걸리게 하라 */
  transition: all 0.5s;
}

.box:hover {
  background-color: blue;
  width: 100vw;
  height: 100vh;
}
