@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.Big_box {
  display: flex;
  flex-direction: column;
}
.text {
  font-family: "Pretendard-Regular";
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}
.travel_place {
  display: flex;
  gap: 15px;
  width: fit-content;
  padding: 5px; 
  border-radius: 20px;
}
.where {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.place_img {
  width: 166px;
  height: 166px;
  padding-bottom: 10px;
  cursor: pointer;
}

.place_img > img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.place_img > img:hover {
  background: silver;
  opacity: 0.5;
}
.name_text {
  font-family: "Pretendard-Regular";
  font-size: 20px;
  font-weight: 100;
}
