@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.main {
  width: 100vw;
  height: 100vh;
  background-image: url("toss_homepage.png");
  display: flex;
  justify-content: center;
}

.contents {
  margin-top: 170px;
  font-family: "Pretendard-Regular";
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contents > h1 {
  font-size: 50px;
}

title {
  margin-top: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.button {
  background-color: black;
  opacity: 0.8;
  padding: 10px 16px;
  border-radius: 10px;
  color: white;
}
