.big_box {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid lightgray;
  border-radius: 10px;
  width: 500px;
  height: 150px;
}
.content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  font-size: 30px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weight {
  font-weight: 700;
}
